.table-body {
  border: black solid;
  background-color: violet;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  border: solid;
  display: block;
  background-color: pink;
  text-align: center;
  position: relative;
}

.search-bar {
  background-color: aqua;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
