.Navbar-item {
  color: rgb(124, 178, 196);
  justify-content: center;
  display: flex;
  align-items: center;
}

a {
  color: rgb(71, 121, 138);
  text-decoration: none;
}

a:hover {
  color: rgb(71, 121, 138);
}

h1 {
  display: block;
  color: rgb(71, 121, 138);
  text-align: center;
  position: relative;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
}
