.Navbar-item {
  color: rgb(124, 178, 196);
  justify-content: center;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  color: rgb(71, 121, 138);
  text-decoration: none;
}

h1 {
  display: block;
  color: rgb(71, 121, 138);
  text-align: center;
  position: relative;
}
